$main-dark-purple-color: #261F35;
$main-purple-color: #474787;
$main-white-color: #ffffff;
$additional-purple-color: #3A314F;

$upperPanel-font-color: #c2c2c2;
$upperPanel-active-menu-color: #c0bfbf30;
$upperPanel-context-menu-background-color: #160c2b; 


$scroll-bar-background-color: #9F9F9F;
$scroll-bar-thumb-background-color: #3b246ce6;

$leftPanel-width: 250px;
$leftPanel-noteBox-width: 176px;
$leftPanel-noteBox-height: 100px;
$leftPanel-noteBox-border-color: #67568B;


.upperPanel {
    -fx-background-color: $main-dark-purple-color;

    .upperPanel-menuBar {
        -fx-background-color: $main-dark-purple-color;

        -fx-pref-height: 35px; /* Preferowana szerokość */
        -fx-min-height: 35px;  /* Minimalna szerokość */
        -fx-max-height: 35px;

        .label {
            -fx-background-color: transparent;
            -fx-text-fill: $upperPanel-font-color;
        }

        .menu {
            -fx-pref-height: 35px; /* Preferowana szerokość */
            -fx-min-height: 35px;  /* Minimalna szerokość */
            -fx-max-height: 35px;
        }

        .menu:hover, .menu:showing {
            -fx-background-color: $upperPanel-active-menu-color;
        }

        .context-menu {
            -fx-background-color: $additional-purple-color;
            -fx-background-insets: 1, 1, 2;
        }

        .upperPanel-menuItem-Exit {
            -fx-pref-height: 50px; /* Preferowana szerokość */
            -fx-min-height: 50px;  /* Minimalna szerokość */
            -fx-max-height: 50px;

            -fx-border-insets: 5px 0 0 0; /* przesunięcie ramki */

            -fx-border-color: $main-purple-color;
            -fx-border-width: 1px 0 0 0;
            -fx-background-insets: 10px 0 10px 0; /* ustawia margines na dole jako część tła */
        }

        .menu-item:hover, .menu-item:focused {
            -fx-background-color: $upperPanel-active-menu-color;
            -fx-background-radius: 4px;
        }


        
    }
}


.editorArea {
    -fx-background-color: $additional-purple-color;

    .editorArea-textArea {
        -fx-font-family: Consolas;
        -fx-control-inner-background: $additional-purple-color;
        -fx-font-size: 22px;
    }
}


.leftPanel {
    -fx-background-color: $main-dark-purple-color;
    -fx-pref-width: $leftPanel-width; /* Preferowana szerokość */
    -fx-min-width: $leftPanel-width;  /* Minimalna szerokość */
    -fx-max-width: $leftPanel-width;  /* Maksymalna szerokość */

    -fx-font-family: "Montserrat";


    -fx-border-color: $main-purple-color;
    -fx-border-width: 1px 0 0 0;


    .leftPanel-upperPart {
        -fx-spacing: 60px;

        .leftPanel-upperPart-title {
            -fx-padding: 20px 0px;
            -fx-text-fill: white;
            -fx-font-size: 16px;
            -fx-font-weight: bold;
        }

        
        .leftPanel-upperPart-hideButton {
            -fx-background-color: transparent;
            // -fx-border-radius: 2.0em;
            -fx-background-radius: 5px;
        }

        .leftPanel-upperPart-hideButton:hover {
            -fx-background-color: $upperPanel-active-menu-color;
        }
    }

    


    .leftPanel-notesScroll {

        -fx-background-color: $main-dark-purple-color;
        -fx-padding: 30px 30px 50px 30px;

        
        .scroll-bar {
            -fx-background-color: transparent;
            -fx-background-radius: 0.0em;
            -fx-border-radius: 2.0em;
        }
    
        .thumb {
            -fx-background-color: $scroll-bar-thumb-background-color;
        }
    
        .increment-arrow .decrement-arrow {
            -fx-background-color:transparent;
            -fx-background-radius: 0em;
            -fx-padding:0 10 0 0;
            -fx-shape: " ";	
            -fx-padding: 0;
        }

        .leftPanel-notesScroll-NotesContainer {

            -fx-background-color: $main-dark-purple-color;
            -fx-spacing: 30px;
            -fx-alignment: center;
            

            .leftPanel-noteBox {

                -fx-padding: 10px;

                -fx-background-color: $main-dark-purple-color;
                
                -fx-border-radius: 10px;
                -fx-border-color: $leftPanel-noteBox-border-color;
                -fx-border-width: 3px; 

                -fx-spacing: 5px;
                -fx-pref-width: $leftPanel-noteBox-width; /* Preferowana szerokość */
                -fx-min-width: $leftPanel-noteBox-width;  /* Minimalna szerokość */
                -fx-max-width: $leftPanel-noteBox-width;  /* Maksymalna szerokość */

                -fx-pref-height: $leftPanel-noteBox-height; /* Preferowana szerokość */
                -fx-min-height: $leftPanel-noteBox-height;  /* Minimalna szerokość */
                -fx-max-height: $leftPanel-noteBox-height;  /* Maksymalna szerokość */
        
        
                .leftPanel-noteBox-title {
                    -fx-text-fill: white;
                    -fx-font-weight: bold;
                }
        
                .leftPanel-noteBox-content {
                    -fx-text-fill: white;
                }
            }
        }
    }


    .leftPanel-bottomPart {
        -fx-padding: 0px 0px 15px 15px;

        .leftPanel-bottomPart-settingsButton {
            -fx-background-color: transparent;
            -fx-background-radius: 5px;
        }
    
        .leftPanel-bottomPart-settingsButton:hover {
            -fx-background-color: $upperPanel-active-menu-color;
        }
    }

    
}





